.calender {
    height: 330px;
    width: 350px;
    background-color: rgb(34, 34, 34);
    font-family: var(--serif-font);
    color: whitesmoke;
    border-radius: 8px;
}

.dates {
    height: auto;
    width: 350px;
    margin-left: 20px;
}

.day {
    height: 45px;
    width: 45px;
    /* border-radius: 3px; */
    color: whitesmoke;
    font-size: 16px;
}

.day:hover {
    background-color: whitesmoke;
    color: rgb(34, 34, 34);
    font-size: 18px;
}

.timeele {
    width: 50px;
    height: 25px;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 0;
    color: rgb(34, 34, 34);
}

.monthyearele {
    width: 70px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 0;
    color: rgb(34, 34, 34);
}

.date-selected {
    border-radius: 50%;
    background-color: whitesmoke;
    color: rgb(34, 34, 34);
    font-size: 18px;
}

.datapoint {
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    color: rgb(36,41,46);
    border-color: rgb(36,41,46);
    border-style: solid;
    border-width: 2px;
    background-color: whitesmoke;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 2px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: whitesmoke; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }